<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwbing.service.domain.mapper.rest.OrderMapper">
    <resultMap id="BaseResultMap" type="com.xwbing.service.domain.entity.rest.Order">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="modifier" property="modifier"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="refundable_num" property="refundableNum"/>
        <result column="name" property="name"/>
        <result column="status" property="status" typeHandler="com.xwbing.service.enums.base.BaseEnumTypeHandler"/>
        <result column="paid_time" property="paidTime"/>
        <result column="close_type" property="closeType" typeHandler="com.xwbing.service.enums.base.BaseEnumTypeHandler"/>
    </resultMap>

    <sql id="Table">
        order
    </sql>

    <sql id="Base_Column_List">
        id, create_time, creator, modified_time, modifier, order_no, user_id, goods_id, actual_amount, 
        goods_num, refundable_num, `name`, `status`, paid_time, close_type
    </sql>

    <sql id="Condition">
        <where>
        </where>
    </sql>

    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="string">
            select replace(UUID(), '-', '')
        </selectKey>
        insert into 
        <include refid="Table"/>(
        id, 
        create_time, 
        creator, 
        modified_time, 
        order_no, 
        user_id, 
        goods_id, 
        actual_amount, 
        goods_num, 
        refundable_num, 
        `name`, 
        `status`, 
        paid_time, 
        close_type
        )
        values (
        #{id}, 
        now(), 
        #{creator}, 
        now(), 
        #{orderNo}, 
        #{userId}, 
        #{goodsId}, 
        #{actualAmount}, 
        #{goodsNum}, 
        #{refundableNum}, 
        #{name}, 
        #{status,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}, 
        #{paidTime}, 
        #{closeType,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}
        )
    </insert>

    <insert id="insertBatch">
        insert into 
        <include refid="Table"/>(
        id, 
        create_time, 
        creator, 
        modified_time, 
        order_no, 
        user_id, 
        goods_id, 
        actual_amount, 
        goods_num, 
        refundable_num, 
        `name`, 
        `status`, 
        paid_time, 
        close_type
        )
        values
        <foreach collection="list" item="obj" separator=",">(
            (select replace(UUID(), '-', '') as id), 
            now(), 
            #{obj.creator}, 
            now(), 
            #{obj.orderNo}, 
            #{obj.userId}, 
            #{obj.goodsId}, 
            #{obj.actualAmount}, 
            #{obj.goodsNum}, 
            #{obj.refundableNum}, 
            #{obj.name}, 
            #{obj.status,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}, 
            #{obj.paidTime}, 
            #{obj.closeType,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}
            )
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from 
        <include refid="Table"/>
        where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from 
        <include refid="Table"/>
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delete">
        delete from 
        <include refid="Table"/>
        <include refid="Condition"/>
    </delete>

    <update id="update">
        update 
        <include refid="Table"/>
        <set>
            modified_time=now(),
            <if test="modifier!=null">modifier=#{modifier},</if>
            <if test="orderNo!=null">order_no=#{orderNo},</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="goodsId!=null">goods_id=#{goodsId},</if>
            <if test="actualAmount!=null">actual_amount=#{actualAmount},</if>
            <if test="goodsNum!=null">goods_num=#{goodsNum},</if>
            <if test="refundableNum!=null">refundable_num=#{refundableNum},</if>
            <if test="name!=null">`name`=#{name},</if>
            <if test="status!=null">`status`=#{status,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler},</if>
            <if test="paidTime!=null">paid_time=#{paidTime},</if>
            <if test="closeType!=null">close_type=#{closeType,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateBatch">
        update 
        <include refid="Table"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="modified_time=case" suffix="end,">
                <foreach collection="list" item="obj">
                    when id=#{obj.id} then now()
                </foreach>
            </trim>
            <trim prefix="modifier=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.modifier!=null">
                        when id=#{obj.id} then #{obj.modifier}
                    </if>
                </foreach>
            </trim>
            <trim prefix="order_no=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.orderNo!=null">
                        when id=#{obj.id} then #{obj.orderNo}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_id=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.userId!=null">
                        when id=#{obj.id} then #{obj.userId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="goods_id=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.goodsId!=null">
                        when id=#{obj.id} then #{obj.goodsId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="actual_amount=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.actualAmount!=null">
                        when id=#{obj.id} then #{obj.actualAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="goods_num=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.goodsNum!=null">
                        when id=#{obj.id} then #{obj.goodsNum}
                    </if>
                </foreach>
            </trim>
            <trim prefix="refundable_num=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.refundableNum!=null">
                        when id=#{obj.id} then #{obj.refundableNum}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`name`=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.name!=null">
                        when id=#{obj.id} then #{obj.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`status`=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.status,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler!=null">
                        when id=#{obj.id} then #{obj.status,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}
                    </if>
                </foreach>
            </trim>
            <trim prefix="paid_time=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.paidTime!=null">
                        when id=#{obj.id} then #{obj.paidTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="close_type=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.closeType,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler!=null">
                        when id=#{obj.id} then #{obj.closeType,typeHandler=com.xwbing.service.enums.base.BaseEnumTypeHandler}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="obj" separator="," open="(" close=")">
            #{obj.id}
        </foreach>
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List"/>
        from 
        <include refid="Table"/>
        where id = #{id}
    </select>

    <select id="findByIds" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List"/>
        from 
        <include refid="Table"/>
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="find" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List"/>
        from 
        <include refid="Table"/>
        <include refid="Condition"/>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List"/>
        from 
        <include refid="Table"/>
    </select>

    <select id="getByOrderNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table"/>
        where order_no = #{orderNo}
    </select>

</mapper>