<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwbing.domain.mapper.sys.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="sysUserRole">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="role_id" property="roleId"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <sql id="Table">
        sys_role_authority
    </sql>
    <sql id="Base_Column_List">
        id,
        creator,
        modifier,
        create_time,
        modified_time,
        role_id,
        user_id
    </sql>
    <!-- 批量插入 -->
    <insert id="insertBatch">
        INSERT INTO
        <include refid="Table"/>(
        id,
        creator,
        create_time,
        role_id,
        user_id
        )
        VALUES
        <foreach collection="list" item="obj" separator=",">(
            (SELECT REPLACE(UUID(), '-', '') AS id),
            #{obj.creator},
            now(),
            #{obj.roleId},
            #{obj.userId}
            )
        </foreach>
    </insert>
    <!-- 批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM
        <include refid="Table"/>
        WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 根据userId查找 -->
    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table"/>
        where user_id=#{userId}
    </select>
</mapper>